.widget-select2 {
    position: relative;

    .widget-select2__input-container {
        position: relative;

        .widget-select2__clear {
            position: absolute;
            right: 0;
            top: 21px;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        .widget-select2__input {
            width: calc(100% - 24px);
            padding-right: 30px;
        }
    }

    .widget-select2__button{
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
}

.widget-select2__progress {
    position: absolute;
    visibility: visible;
    display: none;
    top: 45px;
    height: 2px;
}
