@import 'variables';

/* General Menu Styles */

.flex-menu {
    list-style-type: none;
    padding: 0;
}

.js .flex-menu {
    /* If we have JavaScript enabled and we're just waiting for flexMenu to load and run, hide list items that don't fit on one line. If JavaScript is not enabled, just show 'em all. */
    height: 1.5em;
    overflow: hidden;
}

.flex-menu > li {
    margin: 0 0 0 1.5em;
    float: left;
    /*height: 2em;*/
}

.flex-menu > li:first-child {
    margin-left: 0;
}

.flex-menu a {
    display: block;
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 64px;
    padding-left: 22px;
    padding-right: 22px;
    line-height: $navbar-height + $navbar-item-border-width;
    color: $navbar-item-color;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;
}

.flex-menu a:hover {
    color: $navbar-item-active-color;
    border-bottom-color: $navbar-item-active-border;
}

.flex-multi {
    float: left;
    width: 45%;
    margin-bottom: 100px;
}

.flex-multi + .flex-multi {
    float: right;
}

.clear {
    clear: both;
}

/* flexMenu styles */

.flexMenu-viewMore > a {
    background-color: rgba(100, 255, 255, 0.29);
}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
    background-color: rgba(100, 255, 255, 0.29);
}

.flexMenu-popup {
    list-style-type: none;
    padding: 0;
    background-color: #5CCCCC;
    margin: 0;
    z-index: 99;
}

.lt-ie8 .flexMenu-popup {
}

.flexMenu-popup a {
    display: block;
    line-height: $navbar-height + $navbar-item-border-width;
    color: $navbar-item-color;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;
}

.flexMenu-popup a:hover {
    display: block;

    color: $navbar-item-active-color;
    border-bottom-color: $navbar-item-active-border;
}