@import 'css/mixins.scss';

.widget-file-input {

    @include flex(column);

    .widget-file-input__container {
        @include flex(row);
    }

    button {
        overflow: visible;
    }

    .widget-file-input__title {
        padding: 8px 0 0 10px;
    }

    .widget-file-input__spinner {
        margin: -4px 0 0 0;
    }

    .mdl-textfield__error {
        visibility: visible;
        text-transform: initial;
        text-align: left;
        margin: 5px 10px 0 0;
        position: initial;
    }

}

.mdl-textfield--file {

    .mdl-textfield__input {
        box-sizing: border-box;
        width: calc(100% - 32px);
    }

    .mdl-button--file {
        right: 0;
    }
}

.mdl-button--file {
    input {
        cursor: pointer;
        height: 100%;
        right: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 4;
    }
}