@import '../../../../css/mixins';

.widget-article {
    .widget-article__ribbon {
        height: 300px;
        margin: -25px -25px 0 -25px;
        background-color: #00838F;
        color: #FAFAFA;
    }

    .widget-article__page {
        background-color: #FFFFFF;
        border-radius: 2px;
        margin: -260px auto 40px auto;
        padding: 20px;
        min-height: 400px;
    }

    .widget-article__title-actions {
        @include flex(row);
        justify-content: flex-end;
    }
}

