.page-login .widget-article__page {
    width: 300px;
    margin-top: -105px;
    padding: 15px 35px 35px 35px;
    min-height: 340px;
    max-height: 340px; }

.page-login__head-icon {
    font-size: 70px; }
.page-login__head {
    text-align: center;
}

.page-login__head h1, h6 {
    margin: 0;
}

.page-login .widget-article__ribbon {
    background-color: #2979FF;
}

.page-login  h3 {
    text-align: center;
    margin: 25px 0 20px 0;
}

.page-login .widget-button-loading__button {
    width: 100px;
    margin: 0 auto; }

.page-login .widget-form__actions {
    border: none; }

.page-login .widget-button-loading__spinner-container {
    margin: 15px auto 0 auto; }

.page-login .widget-button-loading {
    flex-direction: column; }

.page-login .widget-form__actions {
    padding: 25px 0 0 0; }

.login-form__button{
    margin: 0 auto;
    width: 88px;
    padding: 25px 0 0 0;
}