@import '../../../../../css/mixins.scss';

.widget-file-input {

    .widget-file-input_drop-zone {

        .mdl-button--file {
            input {
                cursor: pointer;
                height: 100%;
                right: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 300px;
                z-index: 4;
            }
        }

        .widget-file-input__container {
            @include flex(row wrap);

            .widget-file-input__container-file {
                background: transparent;
                width:150px;
                .widget-file-input__container-file-header {
                    button {
                        left: 90%;
                        overflow: visible;
                    }
                }
                .widget-file-input__container-file-body {
                    img {
                        object-fit: cover; // resize image
                        width: 100%;
                        height: 150px;
                    }
                    .insert-drive-file{
                        font-size: 120px;
                    }
                }
                .widget-file-input__container-file-footer {
                    span {
                        display: block;
                        padding-top: 15px;
                        text-align: center;
                        font-size: 18px;
                        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    }
                }

                .widget-file-input__title {
                    padding: 8px 0 0 10px;
                }

                .widget-file-input__spinner {
                    margin: -4px 0 0 0;
                }

                .mdl-textfield__error {
                    visibility: visible;
                    text-transform: initial;
                    text-align: left;
                    margin: 5px 10px 0 0;
                    position: initial;
                }
            }
        }
    }
    .widget-file-input_drop-zone--active {
        border: 1px solid lightgreen;
        background-color: lightgreen;
        opacity: 0.5;
    }
}

