
.building-view-page__image{
    display: flex;
    flex-flow: row;
    justify-content:center;
}
.back-to-list{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    .back-to-list__button{
        min-width: 65px;
    }
}




/*.masonry{
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    font-size: 0;
    img {
        width: 33.3%;
        transition: .8s opacity;

        &:hover {
            opacity: 0.3;
        }
    }
}*/
