/* Dropdown Content (Hidden by Default) */
.dropdown-widget {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    padding:0;
    margin:0;
    overflow: visible;
    background-color: #ffffff;
    overflow-y: auto;
    width: 100%;
    max-height: 300px;
    top: 47px;

    // Links inside the dropdown
    .dropdown-widget__item {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor:pointer;
    }

    // Change color of dropdown links on hover
    .dropdown-widget__item:hover {
        background-color: #f1f1f1;
    }
}

.dropdown-widget--visible{
    z-index: 999;
    visibility: visible;
}