@import '../../../../css/mixins';

.menu-page-layout {

    /** верхняя панель**/
    .mdl-layout__drawer {
        .mdl-textfield .mdl-textfield__expandable-holder {
            bottom: 19px;
        }

        .mdl-layout__drawer-button {

            color: rgba(0, 0, 0, 0.54);
            height: 40px;
            margin: 1px 0 0 0;

            i {
                top: -5px;
                position: relative;
            }

        }

        .mdl-layout__header-row .mdl-navigation {
            height: 50px;
        }
    }

    /** боковая панель**/
    .mdl-layout__drawer {
        border: none;

        .avatar {
            margin-bottom: 16px;
            width: 48px;
            height: 48px;
            border-radius: 24px;
        }


        .drawer-menu {
            z-index: -2;
            flex-grow: 1;

            .drawer-menu__icon {
                margin-right: 15px;
            }

            .drawer-menu__nav-link {
                line-height: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: rgba(255, 255, 255, 0.56);
                font-size: 16px;
                font-weight: 500;
                padding: 15px 20px;
                color: #ffffff;

                &:hover {
                    background-color: #00BCD4;
                    color: #FFFFFF;
                }
            }

            .drawer-menu__nav-link:hover .material-icons {
                color: #FFFFFF !important;
            }

            .drawer-menu__nav-link {
                cursor: pointer;

                .material-icons {
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.56);
                    margin-right: 10px;
                }
            }
        }

        .drawer-header {
            box-sizing: border-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 16px;
            height: 151px;
        }

        .mdl-navigation__link--active, .drawer .mdl-navigation__link--active i {
            color: #FFFFFF !important;
        }

        .avatar-dropdown {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
        }
    }

    .mdl-layout__header {
        height: 47px;
    }

    /** breadcrumbs **/
    .breadcrumbs {
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        width: 100%;
        padding: 5px 5px 5px 25px;
        background-color: #757575;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        min-height: 22px;
        z-index: 1;
    }
	
    .mdl-layout__content{
        z-index: auto;
        height: 100%;
    }

}


