@import '../../../../../../css/mixins';

.building-view-page__image{
    display: flex;
    flex-flow: row;
    justify-content:center;
}





/*.masonry{
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    font-size: 0;
    img {
        width: 33.3%;
        transition: .8s opacity;

        &:hover {
            opacity: 0.3;
        }
    }
}*/
